.navi_conat {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding: 0px;
}
.heading_plant {
  margin-top: 20px;
  margin-left: 30px;
}
.heading_plant h1 {
  color: green;
}
.heading_plant h1 span {
  color: rgb(13, 13, 13);
}
.navi_conat_01 {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border-bottom: 4px solid green;
  box-shadow: 2px 0px 10px 2px green;
}
.desc {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 30px;
}
.desc h2 {
  font-size: 50px;
}
.desc p {
  font-size: 27px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: green;
  font-weight: 700;
  margin-right: 50px;
  width: 50%;
}
.navi_conat_02 {
  display: flex;
}

.section_01 {
  border-bottom: 4px solid rgb(7, 195, 13);
  width: 220px;
  margin-top: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  padding: 10px;
}
.section_01 h2 {
  margin-left: 20px;
}
.section_02 {
  border-bottom: 4px solid rgb(7, 195, 13);
  width: 220px;

  margin-top: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  padding: 10px;
}
.section_03 {
  border-bottom: 4px solid rgb(7, 195, 13);
  width: 220px;
  padding: 10px;
  margin-top: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
}
.care_req {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.h1 {
  font-size: 50px;
  margin-top: 10px;
  margin-left: 30px;
}
