.Create_post{
    width: 500px;
    height: 650px;
    margin-top: 5px;
}
.create_img{
    margin-left: 40px;
    object-fit: cover;
}
.create_img img{
    width: 300px;
    height:300px;
    margin-left: 40px;

}
.create_img_input{
    margin-left: 100px;
    margin-top: 10px;
}
.create_post_title{
    width: 300px;
    margin-left: 70px;
}
.create_post_textarea{
    width: 300px;
    margin-left: 70px;
}
.text_com{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    box-shadow: 5px 5px 10px 2px rgb(202, 198, 198);
}
.text_input{
    text-align: center;
    border: none;
    box-shadow: 5px 5px 10px 2px rgb(223, 219, 219);
}
.create_post_btn1{
    border: none;
    background: none;
    font-size: 20px;
    color: blue;
    cursor: pointer;
    font-weight: 700;
    margin-left: 380px;
}