.sign-up-conatiner{
display:flex;
justify-content:center;
align-items: center;
height: 100vh;
}
.sign_up_desc{
    width: 50%;
    margin-bottom: 200px;
}
.head{
    font-size: 70px;
    color: green;
    margin-top: 50px;
}
.sign_up_desc p{
    margin-top: 140px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(30, 39, 30);
    line-height: 2;
}
.singn_up_conatiner_01{
    margin-left: 10px;
    width: 500px;
    height: 500px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 1px 10px 10px 5px rgb(29, 211, 29);
}
.heading_05{
    font-size: 40px;
    margin-left: 160px;
}
.sign-up-form{
    padding: 25px;
    height: 460px;
}
label{
    display: block;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.btn-submit{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 20px;
    font-size: x-large;
    border: 2px solid green;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    background-color: green;
    color: #fff;
}
